#main{
    margin-left:10%;
    margin-right: 10%;
    margin-top: 90px;

}
#main>div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
#main>h6{
    
    color: #12284c;
    font-family: Montserrat Medium,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 24px;
    margin: 0 10px 0 0;
    margin-left: 20px;
    padding: 0;
    font-size: 12px;
    
}
#span{
    font-weight: bold;
    cursor: pointer;
}
#one{
    margin-left: 20px;
}
#one>p{
    font-size: xx-small;
    margin-top: -30px;
}
#one>h6{
    color: #12284c;

    font-family: Montserrat Medium,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 18px;
}
hr{
    width: 35%;
    size: 50;
    
    margin-left: 0px;
}
#two{
    margin-left: -20px;
}
li{
    list-style: none;
    color: #12284c;
    font-family: Montserrat Light,sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .2px;
    line-height: 27px;
    
    
}
#three{
    margin-left: 20px;
}
#three>h6{
    color: #12284c;
    font-family: Montserrat Medium,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 24px;
    margin-bottom: 15px;

    }
#four{
    margin-left: 20px;
    margin-top:-20px ;
    
}
#four>div{
    display: flex;
    width: 35%;
    /* border: 1px solid red; */
    justify-content: space-between;
    height: 40px;
    cursor: pointer;
    color: #12284c;
    font-size: 14px;
    font-family: Montserrat Medium,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2px;
    line-height: 24px;
    
    

}

#right{
    margin-left: -40%;
    
}
#right>.rightTop{
    display: flex;
    justify-content: space-between;
}
.rightTop>select{
    width: 200px;
    height: 20px;
    margin-top: 20px;
}
.rightTop>h2{
   font-family:Montserrat Regular,sans-serif;
   color: #12284c;
   line-height: 30px;
 text-transform: uppercase;
}

#container{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 20px;
}
#container>div{
    
    text-align: center;
    /* border: 1px solid red; */
    
}
#image{
    width:90%;
   
}
#brand{
    font-size: 12px;
    margin-top: 10px;
    font-family: Montserrat Medium,sans-serif;
    font-weight:bold;
    letter-spacing: .2px;
    line-height: 24px;
    color: #12284c;
    font-size: 14px;
    margin-bottom: -10px;
   
    
}
#name{
    font-size: 10px;
   
    line-height: 10px;
    cursor: pointer;
    color: #12284c;
    font-size: 14px;
    text-align: center;
    font-family: Montserrat Light,sans-serif;
    font-weight: 300;
    letter-spacing: .18px;
    line-height: 20px;
    margin: 8px 0 4px;
}
#price{
    font-size: 10px;
    margin-top: -10px;
    font-family: Montserrat Light,sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .18px;
    text-align: center;
    color: #12284c;
    line-height: 18px;
    margin:4px 0px
    
}
#line{
    width: 100%;
    size: 50; 
}
#button{
    margin-top: -60px;
    margin-bottom: -60px;
    padding: 10px;
    border: 1px solid white;
    background-color: white;
    color:white;
    font-weight: lighter;
    cursor: pointer;
} 

#button:hover{
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    color: lightgray;
    font-weight: lighter;
}
#down{
    display: grid;
    grid-template-columns: repeat(6,1fr);
   /* border: 1px solid blueviolet; */
   width: 30%;
   margin: auto;
   
   margin-top: 30px;
}
#down>div{
    /* border: 1px solid red; */
    width: 10px;
    margin: auto;
    display: flex;
   justify-content: space-evenly;
   margin-top: 50px;
    
   
}
.downline{
    margin: auto;
    size:40;
   
    margin-bottom: 100px;
    
}