*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'poppins',sans-serif;
}
nav{
   width: 100%;
   padding: 20px 0;
   text-align: center;
   z-index: 1;
}

.logo{
   width: 120px;
   max-width: 100%;
   height: auto;
   border-style: none;
   vertical-align: top;
   cursor: pointer;
  
   
}


.wishlist{
   width: 18px;
   margin-right: -10px;
   cursor: pointer;
}
.search{
   width: 18px;
   margin-right: -10px;
   cursor: pointer;
   
}
.account{
   width: 18px;
   margin-right: -10px;
   cursor: pointer;
}
.cart{
   width: 18px;
   margin-right: -10px;
   
   cursor: pointer;
}

nav ul{
   width: 100%;
   margin-top: 10px;
   background-color: white;
    /* margin-left: -50px; */
}
ul li{
   display: inline-block;
   list-style: none;
   margin: 20px 20px;
   cursor: pointer;
   color: #12284c;
   font-family: Montserrat Light,sans-serif;
    font-size: 10px;
    letter-spacing: .2px;
    line-height: 24px;
    font-weight: 300;
   
   
} 
nav.sticky{
   position: fixed;
   top: 0;
   left: 0;
   padding: 10px 10px;
   background: white;
   display: flex;
   align-items: center;
   justify-content: center;
   transition:padding 1s
  
}

nav.sticky ul{
   width:auto;
   
} 


#bluethread{
   background-color: rgb(176, 208, 228);
   margin-top: -10px;
   height: 30px;

}
#bluethread>p{
  font-size:x-small;
  text-align: center;
  padding-top: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
